@{
    Layout = "_Layout";
}

<h1>get.szurag.pl</h1>

<p>Plik wymaga hasła</p>

<div id="container">
    <form method="post">
        <input type="password" name="password" placeholder="Wpisz hasło" required />
        <button type="submit">Otwórz</button>
    </form>
</div>